.description {
    padding: 40px;
    background: #f8f8f8;
    text-align: left;
    font-size: 16px;
  }
  
  .description h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .description p {
    color: #555;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  